## Data Cleaning

In [1]:
import pandas as pd
import os

In [2]:
path = os.path.dirname(os.getcwd())
dir_path = os.path.join(path,'Processed Data')
os.makedirs(dir_path,exist_ok=True)

### Target Data (Provided through the link)

In [3]:
target = pd.read_csv('CSUSHPISA.csv')

In [4]:
target.head(5)

         DATE  CSUSHPISA
0  1987-01-01     63.965
1  1987-02-01     64.424
2  1987-03-01     64.736
3  1987-04-01     65.132
4  1987-05-01     65.563

In [5]:
target.set_index("DATE",inplace=True)
target.rename(columns={"CSUSHPISA":"HOME_PRICE"},inplace=True)
target.index = pd.to_datetime(target.index)
target = target["1987-01-01":"2023-07-01"]

In [6]:
target.shape

(439, 1)

In [92]:

target.to_csv(os.path.join(dir_path,"Target.csv"))

### Population

In [87]:
pop = pd.read_csv('POP.csv')

In [88]:
pop.head(5)

         DATE       POP
0  1952-01-01  156309.0
1  1952-02-01  156527.0
2  1952-03-01  156731.0
3  1952-04-01  156943.0
4  1952-05-01  157140.0

In [89]:
pop.set_index("DATE",inplace=True)
pop.rename(columns={"POP":"Population"},inplace=True)
pop.index = pd.to_datetime(pop.index)
pop = target["1987-01-01":"2023-07-01"]

In [90]:
pop.shape

(439, 1)

In [91]:
pop.to_csv(os.path.join(dir_path,"Population.csv"))

### Personal Income

In [7]:
pi = pd.read_csv('PI.csv')

In [8]:
pi.head(5)

         DATE     PI
0  1959-01-01  391.8
1  1959-02-01  393.7
2  1959-03-01  396.5
3  1959-04-01  399.9
4  1959-05-01  402.4

In [9]:
pi.set_index("DATE",inplace=True)
pi.rename(columns={"PI":"INCOME"},inplace=True)
pi.index = pd.to_datetime(pi.index)
pi = pi["1987-01-01":"2023-07-01"]

In [10]:
pi.shape

(439, 1)

In [86]:

pi.to_csv(os.path.join(dir_path,"Income.csv"))

### GDP

In [11]:
gdp = pd.read_csv('GDP.csv')

In [12]:
gdp.head(5)

         DATE      GDP
0  1947-01-01  243.164
1  1947-04-01  245.968
2  1947-07-01  249.585
3  1947-10-01  259.745
4  1948-01-01  265.742

In [13]:
gdp.set_index("DATE",inplace=True)
gdp.index = pd.to_datetime(gdp.index)

gdp = gdp.resample('M').ffill()

gdp.index = gdp.index.map(lambda x: x.replace(day=1))
gdp = gdp["1987-01-01":"2023-07-01"]

In [14]:
gdp.shape

(439, 1)

In [93]:
gdp.to_csv(os.path.join(dir_path,"GDP.csv"))

### Unemployment Rate

In [15]:
ur = pd.read_csv('UNRATE.csv')

In [16]:
ur.head(5)

         DATE  UNRATE
0  1948-01-01     3.4
1  1948-02-01     3.8
2  1948-03-01     4.0
3  1948-04-01     3.9
4  1948-05-01     3.5

In [17]:
ur.set_index("DATE",inplace=True)
ur.rename(columns={"UNRATE":"Unemployment_Rate"},inplace=True)
ur.index = pd.to_datetime(ur.index)
ur = ur["1987-01-01":"2023-07-01"]

In [18]:
ur.shape

(439, 1)

In [94]:
ur.to_csv(os.path.join(dir_path,"Unemployment_Rate.csv"))

### Mortgage Rate

In [19]:
mortgage = pd.read_csv('MORTGAGE30US.csv')

In [20]:
mortgage.head(5)

         DATE  MORTGAGE30US
0  1987-01-01        9.2040
1  1987-02-01        9.0825
2  1987-03-01        9.0350
3  1987-04-01        9.8325
4  1987-05-01       10.5960

In [21]:
mortgage.set_index("DATE",inplace=True)
mortgage.rename(columns={"MORTGAGE30US":"Mortgage_Rate"},inplace=True)
mortgage.index = pd.to_datetime(mortgage.index)
mortgage = mortgage["1987-01-01":"2023-07-01"]

In [22]:
mortgage.shape

(439, 1)

In [95]:
mortgage.to_csv(os.path.join(dir_path,"Mortgage_Rate.csv"))

### Employment-Population Ratio

In [23]:
emr = pd.read_csv('EMRATIO.csv')

In [24]:
emr.head(5)

         DATE  EMRATIO
0  1948-01-01     56.6
1  1948-02-01     56.7
2  1948-03-01     56.1
3  1948-04-01     56.7
4  1948-05-01     56.2

In [25]:
emr.set_index('DATE', inplace =True)
emr.rename(columns= {'EMRATIO': 'Em_Ratio'}, inplace =True)
emr.index = pd.to_datetime(emr.index)
emr = emr["1987-01-01":"2023-07-01"]

In [26]:
emr.shape

(439, 1)

In [96]:
emr.to_csv(os.path.join(dir_path,"Employment_Population_Ratio.csv"))

### Building Construction Issued permit

In [27]:
permit = pd.read_csv('PERMIT.csv')

In [28]:
permit.head(5)

         DATE  PERMIT
0  1960-01-01  1092.0
1  1960-02-01  1088.0
2  1960-03-01   955.0
3  1960-04-01  1016.0
4  1960-05-01  1052.0

In [29]:
permit.set_index('DATE', inplace =True)
permit.rename(columns= {'PERMIT': 'Permit'}, inplace =True)
permit.index = pd.to_datetime(permit.index)
permit = permit["1987-01-01":"2023-07-01"]

In [30]:
permit.shape

(439, 1)

In [97]:
permit.to_csv(os.path.join(dir_path,"Building_Permit.csv"))

### Labor Force Participation Rate

In [31]:
labor_pop = pd.read_csv('CIVPART.csv')

In [32]:
labor_pop.head(5)

         DATE  CIVPART
0  1948-01-01     58.6
1  1948-02-01     58.9
2  1948-03-01     58.5
3  1948-04-01     59.0
4  1948-05-01     58.3

In [33]:
labor_pop.set_index('DATE', inplace =True)
labor_pop.rename(columns= {'CIVPART': 'Labour_Population'}, inplace =True)
labor_pop.index = pd.to_datetime(labor_pop.index)
labor_pop = labor_pop["1987-01-01":"2023-07-01"]

In [34]:
labor_pop.shape

(439, 1)

In [98]:
labor_pop.to_csv(os.path.join(dir_path,"Labor_Population.csv"))

### Monthly supplies of New Houses

In [35]:
monthly_supply = pd.read_csv('MSACSR.csv')

In [36]:
monthly_supply.head(5)

         DATE  MSACSR
0  1963-01-01     4.7
1  1963-02-01     6.6
2  1963-03-01     6.4
3  1963-04-01     5.3
4  1963-05-01     5.1

In [37]:
monthly_supply.set_index('DATE', inplace =True)
monthly_supply.rename(columns= {'MSACSR': 'Monthly_House_Supply'}, inplace =True)
monthly_supply.index = pd.to_datetime(monthly_supply.index)
monthly_supply = monthly_supply["1987-01-01":"2023-07-01"]

In [38]:
monthly_supply.shape

(439, 1)

In [99]:
monthly_supply.to_csv(os.path.join(dir_path,"New_Houses_Monthly.csv"))

### Median Sale Prices

In [124]:
msp = pd.read_csv('MSPUS.csv')

In [125]:
msp.head(5)

         DATE    MSPUS
0  1963-01-01  17800.0
1  1963-04-01  18000.0
2  1963-07-01  17900.0
3  1963-10-01  18500.0
4  1964-01-01  18500.0

In [126]:
msp.set_index('DATE', inplace =True)
msp.index = pd.to_datetime(msp.index)
msp.rename(columns= {'MSPUS': 'Median_Sales_Prices'}, inplace =True)

msp = msp.resample('M').ffill()


msp.index = msp.index.map(lambda x: x.replace(day=1))
msp = msp["1987-01-01":"2023-07-01"]

In [119]:
msp.shape

(439, 1)

In [127]:
msp.to_csv(os.path.join(dir_path,"Median_Sales_Price.csv"))

### Cement Manufacturing Price

In [111]:
price_cement = pd.read_csv('PCU327310327310.csv')

In [112]:
price_cement.head(5)

         DATE  PCU327310327310
0  1987-01-01            100.1
1  1987-02-01            100.8
2  1987-03-01            101.2
3  1987-04-01            100.8
4  1987-05-01            101.2

In [113]:
price_cement.set_index('DATE', inplace =True)
price_cement.rename(columns= {'PCU327310327310': 'Cement_Price'}, inplace =True)
price_cement.index = pd.to_datetime(price_cement.index)
price_cement = price_cement["1987-01-01":"2023-07-01"]

In [114]:
price_cement.shape

(439, 1)

In [115]:
price_cement.to_csv(os.path.join(dir_path,"Cement_Manufacturing_Price.csv"))

### Concrete Brick Price

In [47]:
cb_price = pd.read_csv('PCU32733132733106.csv')

In [48]:
cb_price.head(5)

         DATE  PCU32733132733106
0  1987-01-01              109.3
1  1987-02-01              109.3
2  1987-03-01              109.3
3  1987-04-01              109.3
4  1987-05-01              108.7

In [49]:
cb_price.set_index('DATE', inplace =True)
cb_price.rename(columns= {'PCU32733132733106': 'Brick_Price'}, inplace =True)
cb_price.index = pd.to_datetime(cb_price.index)
cb_price = cb_price["1987-01-01":"2023-07-01"]

In [50]:
cb_price.shape

(439, 1)

In [102]:
cb_price.to_csv(os.path.join(dir_path,"Concrete_Brick_Price.csv"))

### Construction sector employees

In [51]:
const_emp = pd.read_csv('CES2023610001.csv')

In [52]:
const_emp.head(5)

         DATE  CES2023610001
0  1985-01-01          650.5
1  1985-02-01          643.4
2  1985-03-01          651.8
3  1985-04-01          655.2
4  1985-05-01          659.8

In [53]:
const_emp.set_index('DATE', inplace =True)
const_emp.rename(columns= {'CES2023610001': 'Total_Construction_Employees'}, inplace =True)
const_emp.index = pd.to_datetime(const_emp.index)
const_emp = const_emp["1987-01-01":"2023-07-01"]

In [54]:
const_emp.shape

(439, 1)

In [103]:
const_emp.to_csv(os.path.join(dir_path,"Construction_Sector_Employees.csv"))

### All Employees Construction

In [55]:
all_emp_const = pd.read_csv('USCONS.csv')

In [57]:
all_emp_const.head(5)

         DATE  USCONS
0  1939-01-01    1139
1  1939-02-01    1162
2  1939-03-01    1225
3  1939-04-01    1249
4  1939-05-01    1262

In [58]:
all_emp_const.set_index('DATE', inplace =True)
all_emp_const.rename(columns= {'USCONS': 'All_Employees'}, inplace =True)
all_emp_const.index = pd.to_datetime(all_emp_const.index)
all_emp_const = all_emp_const["1987-01-01":"2023-07-01"]

In [59]:
all_emp_const.shape

(439, 1)

In [104]:
all_emp_const.to_csv(os.path.join(dir_path,"All_Costruction_Employees.csv"))

### Indrustrial Production Concrete and Cement

In [64]:
concrete_cement_production = pd.read_csv('IPN32731S.csv')

In [65]:
concrete_cement_production.head(5)

         DATE  IPN32731S
0  1987-01-01   123.7373
1  1987-02-01   123.1670
2  1987-03-01   122.5706
3  1987-04-01   123.5345
4  1987-05-01   123.8454

In [66]:
concrete_cement_production.set_index('DATE', inplace =True)
concrete_cement_production.rename(columns= {'IPN32731S': 'Industrial_Cement_Concrete_Manufactured'}, inplace =True)
concrete_cement_production.index = pd.to_datetime(concrete_cement_production.index)
concrete_cement_production = concrete_cement_production["1987-01-01":"2023-07-01"]

In [67]:
concrete_cement_production.shape

(439, 1)

In [105]:
concrete_cement_production.to_csv(os.path.join(dir_path,"Indrustrial_Concrete_Cement_Production.csv"))

### HomeOwnership Rate

In [128]:
home_ownership_rate = pd.read_csv('RHORUSQ156N.csv')

In [129]:
home_ownership_rate.head(5)

         DATE  RHORUSQ156N
0  1965-01-01         62.9
1  1965-04-01         62.9
2  1965-07-01         62.9
3  1965-10-01         63.4
4  1966-01-01         63.5

In [130]:
home_ownership_rate.set_index('DATE', inplace =True)
home_ownership_rate.index = pd.to_datetime(home_ownership_rate.index)
home_ownership_rate.rename(columns= {'RHORUSQ156N': 'Home_ownership_rate'}, inplace =True)

home_ownership_rate = home_ownership_rate.resample('M').ffill()

home_ownership_rate.index = home_ownership_rate.index.map(lambda x: x.replace(day=1))
home_ownership_rate = home_ownership_rate["1987-01-01":"2023-07-01"]

In [131]:
home_ownership_rate.shape

(439, 1)

In [132]:
home_ownership_rate.to_csv(os.path.join(dir_path,"Home_Ownership_Rate.csv"))

### Personal Saving Rate

In [134]:
ps_rate = pd.read_csv('PSAVERT.csv')

In [135]:
ps_rate.head(5)

         DATE  PSAVERT
0  1959-01-01     11.3
1  1959-02-01     10.6
2  1959-03-01     10.3
3  1959-04-01     11.2
4  1959-05-01     10.6

In [136]:
ps_rate.set_index('DATE', inplace =True)
ps_rate.rename(columns= {'PSAVERT': 'Personal_Saving_Rate'}, inplace =True)
ps_rate.index = pd.to_datetime(ps_rate.index)
ps_rate = ps_rate["1987-01-01":"2023-07-01"]

In [137]:
ps_rate.shape

(439, 1)

In [138]:
ps_rate.to_csv(os.path.join(dir_path,"Personal_Saving_Rate.csv"))

### New-Privately Owned Housing

In [76]:
new_private_housing = pd.read_csv('PRIVATELYOWNEDHOUSING.csv')

In [77]:
new_private_housing.head(5)

         DATE   HOUST
0  1959-01-01  1657.0
1  1959-02-01  1667.0
2  1959-03-01  1620.0
3  1959-04-01  1590.0
4  1959-05-01  1498.0

In [79]:
new_private_housing.set_index('DATE', inplace =True)
new_private_housing.rename(columns= {'HOUST': 'New_Private_Housing'}, inplace =True)
new_private_housing.index = pd.to_datetime(new_private_housing.index)
new_private_housing = new_private_housing["1987-01-01":"2023-07-01"]

In [80]:
new_private_housing.shape

(439, 1)

In [109]:
new_private_housing.to_csv(os.path.join(dir_path,"New_Private_Owned_Housing.csv"))

### New Housing Under Construction

In [81]:
new_housing_under_construction = pd.read_csv('PRIVATELYOWNEDHOUSINGUNDERCONSTRUCTION.csv')

In [82]:
new_housing_under_construction.head(5)

         DATE  UNDCONTSA
0  1970-01-01      889.0
1  1970-02-01      888.0
2  1970-03-01      890.0
3  1970-04-01      891.0
4  1970-05-01      883.0

In [83]:
new_housing_under_construction.set_index('DATE', inplace =True)
new_housing_under_construction.rename(columns= {'UNDCONTSA': 'New_Housing_Under_Construction'}, inplace =True)
new_housing_under_construction.index = pd.to_datetime(new_housing_under_construction.index)
new_housing_under_construction = new_housing_under_construction["1987-01-01":"2023-07-01"]

In [84]:
new_housing_under_construction.shape

(439, 1)

In [110]:
new_housing_under_construction.to_csv(os.path.join(dir_path,"New_Private_Housing_Under_Construction.csv"))